<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <% if content_for(:title) %>
        <%= raw content_for(:title) %>
        &middot; Hanami Collection
      <% else %>
        Hanami
      <% end %>
    </title>
    <%= favicon_tag %>
    <%= stylesheet_tag "app" %>
    <%= raw content_for(:meta) %>
    <link
      rel="preconnect"
      href="https://<%= settings.docsearch_app_id %>-dsn.algolia.net"
      crossorigin
    />
    <%= javascript_tag "app", async: true %>
  </head>
  <body class="font-sans text-gray-800 bg-white">
    <div class="flex flex-col max-w-[1540px] mx-auto">
      <header
        class="
          bg-white flex items-center gap-4 border-b border-neutral-200 px-4 lg:px-6 sticky
          top-0
        "
        data-defo-size-to-var="<%= { blockVarName: "--hn-nav-height" }.to_json %>"
      >
        <h1>
          <a href="/">Hanami</a>
        </h1>
        <nav class="flex flex-1 gap-4">
          <a href="/guides">Guides</a>
          <a href="/docs">Docs</a>
          <a href="/blog">Blog</a>
          <a href="/community">Community</a>
          <a href="/conduct">Conduct</a>
          <a href="/sponsor">Sponsor</a>
        </nav>
        <div
          class="py-4"
          data-defo-docsearch="<%= {
            appId: settings.docsearch_app_id,
            apiKey: settings.docsearch_api_key,
            indexName: settings.docsearch_index_name
          }.to_json %>"
        ></div>
      </header>
      <main class="flex flex-col px-4 lg:px-6">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
