<%= content_for :title, "#{page.title} &middot; #{doc.title} #{version}" %>

<%= content_for :meta do %>
  <meta name="docsearch:version" content="<%= [version_number, ("latest" if version == latest_version)].compact.join(",") %>">
<% end %>

<header>
  <h1><%= doc.title %></h1>
</header>

<div data-testid="doc-versions">
  <% other_versions.each do |version| %>
    <a href="<%= doc.url_path(version) %>"><%= version %></a>
  <% end %>
</div>

<%= render "doc_pages/pages_nav", pages: doc.pages.nested, testid: "pages-nav", current_page_title: page.title %>
<hr>
<h2>TOC</h2>
<%= render "doc_pages/headings_toc", headings: page.nested_headings, testid: "headings-toc", depth: 0 %>
<hr>
<main>
  <header>
    <h1><%= page.title %></h1>
  </header>

  <div class="content">
    <%= page.content_html %>
  </div>
</h2>
