<% content_for :title, "Guides" %>

<h1>Guides</h1>

<h2>Hanami</h2>

<ol data-testid="hanami-guides">
  <% guides.fetch("hanami").each do |guide| %>
    <li>
      <a href="<%= guide.url_path %>"><%= guide.title %></a>
    </li>
  <% end %>
</ol>

<div data-testid="hanami-versions">
  <%= render :version_links, versions: versions.fetch("hanami"), org_slug: "hanami" %>
</div>

<h2>Dry</h2>

<ol data-testid="dry-guides">
  <% guides.fetch("dry").each do |guide| %>
    <li>
      <a href="<%= guide.url_path %>"><%= guide.title %></a>
    </li>
  <% end %>
</ol>

<div data-testid="dry-versions">
  <%= render :version_links, versions: versions.fetch("dry"), org_slug: "dry" %>
</div>

<h2>Rom</h2>

<ol data-testid="rom-guides">
  <% guides.fetch("rom").each do |guide| %>
    <li>
      <a href="<%= guide.url_path %>"><%= guide.title %></a>
    </li>
  <% end %>
</ol>

<div data-testid="rom-versions">
  <%= render :version_links, versions: versions.fetch("rom"), org_slug: "rom" %>
</div>
