<% content_for :title, "Guides" %>

<h1>Guides</h1>

<h2>Hanami</h2>

<ol data-testid="hanami-guides">
  <% guides.fetch("hanami").each do |guide| %>
    <li>
      <a href="<%= guide.url_path %>"><%= guide.title %></a>
    </li>
  <% end %>
</ol>

<div data-testid="hanami-versions">
  <%= render :version_links, versions: versions.fetch("hanami"), org_slug: "hanami" %>
</div>

<h2>Dry RB</h2>

<ol data-testid="dry-rb-guides">
  <% guides.fetch("dry-rb").each do |guide| %>
    <li>
      <a href="<%= guide.url_path %>"><%= guide.title %></a>
    </li>
  <% end %>
</ol>

<div data-testid="dry-rb-versions">
  <%= render :version_links, versions: versions.fetch("dry-rb"), org_slug: "dry-rb" %>
</div>

<h2>ROM</h2>

<ol data-testid="rom-guides">
  <% guides.fetch("rom").each do |guide| %>
    <li>
      <a href="<%= guide.url_path %>"><%= guide.title %></a>
    </li>
  <% end %>
</ol>

<div data-testid="rom-versions">
  <%= render :version_links, versions: versions.fetch("dry-rb"), org_slug: "rom" %>
</div>
