<h2>All guides</h1>
<ol data-testid="guides-list">
  <% other_guides.each do |guide| %>
    <li>
      <a href="<%= guide.url_path %>">
        <%= guide.title %>
      </a>
    </li>
  <% end %>
<ol>

<h1>Guide: <%= guide.title %></h1>

<ol data-testid="guide-toc">
  <% guide.pages.all.each do |page| %>
    <li>
      <a href="<%= page.url_path %>">
        <%= page.title %>
      </a>
    </li>
  <% end %>
</ol>

<h1>Page: <%= page.title %></h1>

<h2>TOC</h2>
<ol data-testid="page-toc">
  <% page.headings.each do |heading| %>
    <%# TODO: do something with heading.header_level %>
    <li>
      <a href="<%= heading.href %>">
        <%= heading.text %>
      </a>
    </li>
  <% end %>
</ol>

<%= page.content_html %>
