<h2>All guides</h1>
<ol data-testid="guides-list">
  <% other_guides.each do |guide| %>
    <li>
      <a href="<%= guide.url_path %>">
        <%= guide.title %>
      </a>
    </li>
  <% end %>
<ol>

<h1>Guide: <%= guide.title %></h1>

<%= render "doc_pages/pages_nav", pages: guide.pages.nested %>

<h1>Page: <%= page.title %></h1>

<h2>TOC</h2>
<ol data-testid="page-toc">
  <% page.headings.each do |heading| %>
    <%# TODO: do something with heading.header_level %>
    <li>
      <a href="<%= heading.href %>">
        <%= heading.text %>
      </a>
    </li>
  <% end %>
</ol>

<div class="content">
  <%= page.content_html %>
</div>
